
@import "../../bower_components/bootstrap/scss/bootstrap";
// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.table{
  border-radius: 10px;
  overflow: hidden;
  .btn-sm{
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
  }
  .label{
    color: #28a745;
  }
}

label{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}


// modal
///
.modal-header {
  background: #2e516f;
  color: white;
  .close{
    color: #FFF;
  }
}
.modal-body{
  .lead small{
    background-color: #17a2b8;
    padding: 2px 10px ;
    border-radius: 10px;
    color: #FFF;
    font-size: 70%;
    font-weight: bold;
  }
}
